{% extends 'layout/structured.html' %}

{% load event_dates %}
{% load markdownify %}

{% block title %}{{event.name}} - Terky Akvarelky{% endblock %}

{% block head %}
<meta property="og:title" content="{{event.name}} - Terky Akvarelky" />
{% endblock %}

{% block heading %}
<h1 class="text-center bg-white">{{event.name}}</h1>
{% endblock %}

{% block content %}
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ event | event_date}}</li>
            <li class="list-group-item">{% include 'partial/location.html' with location=event.location %}</li>
          </ul>
        </div>
        {{event.description | markdownify}}
      </div>
      <div class="col-md-6">
        {% include 'text/photos.html' with photos=photos %}
      </div>
    </div>
  </div>
{% endblock %}
