[run]
branch = True
source =
  web
omit =
  */migrations/*.py
  */tests/*.py

[paths]
source =
  drawings
  eshop
  events
  illustrations
  photos
  texts
  visibility
  web

[report]
omit =
  */migrations/*.py
  */tests/*.py
