recursive-include drawings *
recursive-include eshop *
recursive-include events *
recursive-include illustrations *
recursive-include malickosti *
recursive-include photos *
recursive-include texts *
recursive-include visibility *
recursive-include web *
include requirements.txt
include README.md
include manage.py
include wsgi.py
prune web/tests
global-exclude *.po
global-exclude *.pyc
