{% url 'drawings' as url_drawings %}
{% url 'events' as url_events %}
{% url 'about' as url_about %}
{% url 'contact' as url_contact %}

<nav class="navbar navbar-expand-md navbar-dark text-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <span class="navbar-logo"></span>
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link{% if request.get_full_path == url_drawings %} active{% endif %}"
            href="{{ url_drawings }}"
          >Obrázky</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if request.get_full_path == url_events %} active{% endif %}"
            href="{{ url_events }}"
          >Výstavy</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if request.get_full_path == url_about %} active{% endif %}"
            href="{{ url_about }}"
          >O mně</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link{% if request.get_full_path == url_contact %} active{% endif %}"
            href="{{ url_contact }}"
          >Kontakt</a>
        </li>
        {% if cart.itemCount > 0 %}
          <li class="nav-item nav-cart">
            <a class="nav-link" href="{% url 'cart' %}">
              <span class="fa fa-shopping-cart"></span>
              {% include 'partial/price.html' with price=cart.price %}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
