{% load thumbnail %}

<div class="col-12 drawing">
  <a href="{% url 'drawings-detail' drawing.id %}" class="drawing-link">
    <img
      class="img-fluid rounded-circle"
      src="{% thumbnail drawing.image 300x300 crop %}"
      alt="Náhled obrázku {{ drawing.name }}"
    />
  </a>
  <div class="drawing-info">
    <ul class="list-unstyled">
      <li>
        <a href="{% url 'drawings-detail' drawing.id %}">{{drawing.name}}</a>
      </li>
      {% if display_price or drawing.is_price_visible %}
        <li>
          {% include 'partial/price.html' with price=drawing.get_price %}
        </li>
      {% endif %}
      {% if drawing.is_status_visible %}
        <li>
          {% include 'partial/status.html' with status=drawing.status status_text=drawing.get_status_display %}
        </li>
      {% endif %}
    </ul>
  </div>
</div>
