{% if start %}
  {% if all_day %}
    {% if start.date.year == end.date.year %}
      {% include 'partial/datetime/date-no-year.html' with date=start %}
    {% else %}
      {% include 'partial/datetime/date.html' with date=start %}
    {% endif %}
  {% else %}
    {% include 'partial/datetime/datetime.html' with date=start %}
  {% endif %}
{% endif %}

{% if all_day and start.date != end.date %}
  -
  {% include 'partial/datetime/date.html' with date=end %}
{% endif %}

{% if not all_day %}
  -
  {% if start.date == end.date %}
    {% include 'partial/datetime/time.html' with date=end %}
  {% else %}
    {% include 'partial/datetime/datetime.html' with date=end %}
  {% endif %}
{% endif %}
