<div class="form-group row">
  {% if field.label %}
    <label
      class="col-sm-4 col-md-12 col-lg-3 col-form-label"
      for="{{field.id_for_label}}"
    >{{field.label}}</label>
  {% endif %}
  <div class="col-sm-8 col-md-12 col-lg-9">
    <input
      aria-describedby="{{field.id_for_label}}_help"
      class="form-control{% if field.errors %} is-invalid{% endif %}"
      id="{{field.id_for_label}}"
      name="{{field.html_name}}"
      type="text"
      value="{{field.value | default_if_none:''}}"
    />
    {% if field.help_text and not field.errors %}
      <small
        id="{{field.id_for_label}}_help"
        class="form-text text-muted"
      >{{field.help_text}}</small>
    {% endif %}
    {% include 'partial/form-field-errors.html' with field=field %}
  </div>
</div>
