{% extends 'layout/structured.html' %}

{% load markdownify %}
{% load thumbnail %}

{% block content %}

  <h1 class="text-center">O mně</h1>
  <hr />

  <div class="container py-3">
    {% for text in texts %}
      <div class="mb-3">
        <div>{{text.text | markdownify}}</div>
        {% for photo in text.photos.all %}
          <img class="img-responsive img-thumbnail" src="{% thumbnail photo.image '500x500' %}" />
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
