{% extends 'layout/structured.html' %}

{% block title %}Obchodní podmínky - Terky Akvarelky{% endblock %}

{% block head %}
  <meta property="og:title" content="Obchodní podmínky - Terky Akvarelky" />
  {% include 'og/description.html' with text='Na této stránce vždy naleznete aktuální obchodní podmínky. Obchodní podmínky se mohou v průběhu času bez varování změnit.' %}
{% endblock %}

{% block heading %}
<h1 class="text-center bg-white">Obchodní podmínky</h1>
{% endblock %}

{% block content %}
  <div class="container py-3">
    {% if conditions %}
      <p class="lead">
        Na této stránce vždy naleznete aktuální obchodní podmínky. Obchodní podmínky se mohou v průběhu času bez varování změnit.
      </p>

      <div class="alert alert-info">
        Poslední změna obchodních podmínek: {{last_changed.modified | date:'SHORT_DATE_FORMAT'}}
      </div>

      {% include 'text/cards.html' with texts=conditions   %}
    {% else %}
      <div class="alert alert-danger">
        Obchodní podmínky nebyly nalezeny. Kontaktujte prosím co nejdříve správce.
      </div>
    {% endif %}
  </div>

{% endblock %}
