{% extends 'layout/structured.html' %}

{% block title %}Obchodní podmínky{% endblock %}

{% block content %}

  <h1 class="text-center">Obchodní podmínky</h1>
  <hr />

  <div class="container py-3">
    {% if conditions %}
      {% for text in conditions %}
        {% include 'text/block.html' with text=text %}
      {% endfor %}
    {% else %}
      <div class="alert alert-danger">
        Obchodní podmínky nebyly nalezeny. Kontaktujte prosím co nejdříve správce.
      </div>
    {% endif %}
  </div>

{% endblock %}
