{% extends 'layout/structured.html' %}

{% block title %}
  {% if redraw %}Replikace obrázku {{redraw.name}}{% else %}Kontakt{% endif %} - Terky Akvarelky
{% endblock %}

{% block head %}
  <meta property="og:title" content="{% if redraw %}Replikace obrázku {{redraw.name}}{% else %}Kontakt{% endif %} - Terky Akvarelky" />
  {% include 'og/description.html' with description=texts|first %}
{% endblock %}

{% block heading %}
<h1 class="text-center bg-white">
  {% if redraw %}
    Replikace obrázku
  {% else %}
    Kontakt
  {% endif %}
</h1>
{% endblock %}

{% block content %}
  <div class="container py-3">
    <div class="row">
      {% if not redraw %}
        <main class="col-lg-5 mb-3">
          {% for text in texts %}
            {% include 'text/block.html' with text=text %}
          {% endfor %}

          <address class="mb-3">
            <a href="mailto:terka@terkyakvarelky.cz">
              <span class="fa fa-fw fa-envelope"></span>
              terka@terkyakvarelky.cz
            </a>
            <br />
            <a href="tel:+420 606 041 132">
              <span class="fa fa-fw fa-phone"></span>
              +420 606 041 132
            </a>
          </address>
        </main>
      {% endif %}

      <aside class="col-lg-7 mx-auto">
        <div class="card contact-form">
          <div class="card-body">
            {% if sent %}
              <div class="alert alert-success">
                {{_('contact-message-sent')}}
              </div>
              <a href="{% url 'contact' %}" class="btn btn-secondary">
                <span class="fa fa-refresh"></span> {{_('contact-message-send-another')}}
              </a>
            {% else %}
              {% if failed %}
                <div class="alert alert-error">
                  {{_('contact-message-failed')}}
                </div>
              {% endif %}
              <form method="post" action="{{request.url}}">
                {% csrf_token %}
                {% include 'partial/form-field.html' with field=form.contact_name %}
                {% include 'partial/form-field.html' with field=form.contact_email field_type='email' %}
                {% include 'partial/form-textarea.html' with field=form.contact_message %}
                {% if form.captcha.field.required %}
                  {% include 'partial/form-captcha.html' with field=form.captcha %}
                {% endif %}
                <button type="submit" class="btn btn-primary">
                  <span class="fa fa-paper-plane"></span> Odeslat
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </aside>
    </div>
  </div>
{% endblock %}
