{% extends 'layout/structured.html' %}

{% block title %}Kontakt{% endblock %}

{% block content %}

  <h1 class="text-center">Kontakt</h1>
  <hr />

  <div class="container py-3">
    <div class="row">
      <main class="col-md-6">
        <h2 class="mb-3">Ozvi se</h2>
        <address class="mb-3">
          <a href="mailto:teryfly@gmail.com">
            <span class="fa fa-fw fa-envelope"></span>
            teryfly@gmail.com
          </a>
          <br />
          <a href="tel:+420 606 041 132">
            <span class="fa fa-fw fa-phone"></span>
            +420 606 041 132
          </a>
        </address>
      </main>

      <aside class="col-md-6">
        <h2 class="mb-3">Chceš něco nakreslit?</h2>
        <p>Tak rovnou vyplň tenhle formulář</p>
      </aside>
    </div>
  </div>

{% endblock %}
