{% extends 'layout/structured.html' %}

{% load thumbnail %}

{% block title %}{{ drawing.name }}{% endblock %}

{% block content %}

  <h1 class="text-center">{{ drawing.name }}</h1>
  <hr />

  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 col-lg-8 text-center drawing-detail-image">
        <img
          class="img-fluid rounded-circle"
          src="{% thumbnail drawing.image 600x600 crop %}"
          alt="Náhled obrázku {{ drawing.name }}"
        />
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="value-label">Velikost:&nbsp;</span>
              {{ drawing.size.name }}
            </li>
            <li class="list-group-item">
              <span class="value-label">Prodejní cena:&nbsp;</span>
              {% include 'partial/price.html' with price=price %}
            </li>
            <li class="list-group-item{% if drawing.status == 2 %} text-warning{% endif %}{% if drawing.status == 3 %} text-danger{% endif %}">
              <span class="value-label">Stav:&nbsp;</span>
              {% include 'partial/status.html' with status=drawing.status status_text=status_text %}
            </li>
          </ul>
        </div>

        <div class="py-3">
          {% if available %}
            {% if in_cart %}
              <a
                href="{% url 'cart-remove-drawing' id=drawing.id %}"
                class="btn btn-danger"
              >
                <span class="fa fa-fw fa-times"></span>
                Odebrat z košíku
              </a>
            {% else %}
              <a
                href="{% url 'drawings-cart-add' id=drawing.id %}"
                class="btn btn-primary"
              >
                <span class="fa fa-fw fa-cart-plus"></span>
                Přidat do košíku
              </a>
            {% endif %}
          {% else %}
            <a
              href=""
              class="btn btn-secondary"
            >
              <span class="fa fa-fw fa-repeat"></span>
              Chci ho nakreslit znova
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
