{% extends 'layout/base.html' %}

{% load event_dates %}
{% load static %}

{% block title %}Terky Akvarelky{% endblock %}

{% block head %}
<meta property="og:title" content="Terky Akvarelky" />
<meta property="og:description" content="Každá maličkost dokáže udělat den krásnějším." />
{% for illustration in illustrations %}
  <meta property="og:image" content="{{illustration.image.url}}" />
{% endfor %}
{% endblock %}

{% block body %}
{% include 'layout/main-menu.html' %}

<div class="home-gallery container-fluid mb-5">
  <div class="row pt-3 mb-3">
    {% for illustration in illustrations %}
      <div class="img-gallery mt-auto col-sm-6 col-md-4">
        <img class="img-fluid img-responsive m-auto" src="{{illustration.image.url}}" alt="{{_('Ilustrace')}}" />
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <h1>Maličkosti v&nbsp;akvarelkách</h1>
    <blockquote class="lead">Každá maličkost dokáže udělat den krásnějším.</blockquote>
  </div>
  <hr />
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-3">Nejnovější události</h2>
      {% if latest_events %}
        <ul class="list-unstyled">
          {% for event in latest_events %}
            <li class="list-item">
              <a href="{% url 'events-detail' event.id %}">{{event.get_type_name}}: {{event.name}}</a> |
              {{ event | event_date}}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="alert alert-info">
          <span class="fa fa-info-circle"></span>
          V tuto chvíli nejsou vyhlášené žádné výstavy. Můžete se podívat do <a href="{% url 'events-archive' %}">archívu výstav</a>.
        </div>
      {% endif %}
    </div>
    <div class="col-md-6 cart-container">
      <h2 class="mb-3">Nejnovější obrázky</h2>
      {% if latest_drawings %}
        {% for drawing in latest_drawings %}
          {% include 'drawings/list-item.html' with drawing=drawing %}
        {% endfor %}
      {% else %}
        <div class="alert alert-info">
          V tuhle chvíli nejsou dostupné žádné nové obrázky k prodeji. Mrkněte se do
          <a href="{% url 'drawings' %}">Galerie</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% include 'layout/footer.html' %}
{% endblock %}
