{% extends 'layout/structured.html' %}

{% block content %}

<div class="container">
  <div class="cart-container">
    <h2 class="mb-3">Nejnovější obrázky</h2>
    {% if latest_drawings %}
      {% for drawing in latest_drawings %}
        {% include 'partial/drawing-list-item.html' with drawing=drawing %}
      {% endfor %}
    {% else %}
      <div class="alert alert-info">
        V tuhle chvíli nejsou dostupné žádné nové obrázky k prodeji. Mrkněte se do
        <a href="{% url 'drawings' %}">Galerie</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
