body {
  min-width: 360px;
}

address:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    flex-grow: 1;
  }

  .nav-cart {
    margin-left: auto;
  }
}

.drawings {
  pointer-events: none;
}

.drawing {
  background: #f7f7f7;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.drawing-info {
  pointer-events: all;
  text-align: left;
}

.drawing-link {
  pointer-events: all;
  display: block;
  opacity: .9;
  margin-bottom: 1rem;
  transition: opacity .2s linear;
}

.drawing-link:hover {
  opacity: 1;
}

.drawings:hover .drawing-link:not(:hover) {
  opacity: 0.5;
}

.drawing-detail-image {
  background: #f7f7f7;
  padding: 1rem;
}

.cart-container {
  max-width: 640px;
}

.cart-container .drawing {
  align-items: center;
  background: transparent;
  display: flex;
  margin-bottom: 0;
  padding: 0;
}

.cart-container .drawing-link,
.cart-container .drawing-info {
  stretch: 1;
}

.cart-container .drawing-link {
  margin-bottom: 0;
  max-width: 80px;
}

.cart-container .drawing-info {
  padding-left: 1.5rem;
}

.cart-container .drawing-info-no-image {
  padding-left: 0;
}

.cart-container .cart-remove {
  position: absolute;
  right: 1rem;
  top: 30px;
  font-size: 200%;
}

.form-check {
  display: flex;
}

.form-group.is-invalid .invalid-feedback {
  display: block;
}
