{% extends 'layout/structured.html' %}

{% block title %}Košík{% endblock %}

{% block heading %}
<h1 class="text-center bg-white">Košík</h1>
{% endblock %}

{% block content %}
  <div class="container py-3 cart-container">
    {% if added %}
      <div class="mb-3">
        <div class="alert alert-success">
          Obrázek byl přidán do košíku.
        </div>
        <a class="btn btn-secondary" href="{% url 'drawings' %}">
          <span class="fa fa-fw fa-book"></span>
          Vybrat další
        </a>
      </div>
    {% endif %}

    {% if removed %}
      <div class="mb-3">
        <div class="alert alert-success">
          Obrázek byl odebrán z košíku.
        </div>
      </div>
    {% endif %}

    {% if purged %}
      <div class="mb-3">
        <div class="alert alert-success">
          Košík byl vyprázdněn.
        </div>
      </div>
    {% endif %}

    {% if empty %}
      <div class="alert alert-warning">
        Košík je prázdný
      </div>
      <div>
        <a href="{% url 'drawings' %}" class="btn btn-secondary">
          <span class="fa fa-fw fa-book"></span>
          Vybrat obrázek z galerie
        </a>
      </div>
    {% else %}
      <div class="card">
        {% include 'orders/cart-items.html' with price=price drawings=drawings show_controls=True %}
        <div class="card-footer">
          <a href="{% url 'order-delivery' %}" class="d-block d-sm-inline-block mb-1 btn btn-primary float-sm-right">
            <span class="fa fa-fw fa-check"></span>
            Pokračovat v objednávce
          </a>

          <a href="{% url 'cart-purge' %}" class="d-block d-sm-inline-block mb-1 btn btn-warning">
            <span class="fa fa-fw fa-times"></span>
            Úplně to zahoď
          </a>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock %}
