{% extends 'layout/structured.html' %}

{% block title %}Košík{% endblock %}

{% block content %}

  <h1 class="text-center">Objednávka</h1>
  <hr />

  <div class="container py-3">
    {% include 'partial/form-errors.html' with form=form %}

    <div class="row">
      <div class="col-md-6">
        <form action="{% url 'order-delivery' %}" method="post" class="mb-3">
          {% csrf_token %}
          <h2 class="mb-3">Doručovací údaje</h2>

          {% include 'partial/form-field.html' with field=form.customer_name %}
          {% include 'partial/form-field.html' with field=form.customer_email %}
          {% include 'partial/form-field.html' with field=form.customer_phone %}
          {% include 'partial/form-field.html' with field=form.customer_address %}

          <h2 class="mb-3">Způsob dopravy</h2>
          <div class="card mb-4">
            <ul class="list-group list-group-flush">
              {% for delivery_method in delivery_methods %}
                {% include 'orders/method-radio.html' with input_name='delivery_method' item=delivery_method value=form_data.delivery_method %}
              {% endfor %}
            </ul>
          </div>

          <h2 class="mb-3">Způsob platby</h2>
          <div class="card mb-3">
            <ul class="list-group list-group-flush">
              {% for payment_method in payment_methods %}
                {% include 'orders/method-radio.html' with input_name='payment_method' item=payment_method value=form_data.payment_method %}
              {% endfor %}
            </ul>
          </div>

          <button type="submit" class="d-block d-sm-inline-block mb-1 btn btn-primary btn-xs-stretch float-sm-right">
            <span class="fa fa-fw fa-check"></span>
            Pokračovat
          </button>
          <a href="{% url 'cart' %}" class="d-block d-sm-inline-block mb-1 btn btn-warning">
            <span class="fa fa-fw fa-chevron-left"></span>
            Zpět
          </a>
        </form>
      </div>
      <div class="col-md-6">
        <h2 class="mb-3">V košíku</h2>
        <div class="card cart-container">
          {% include 'orders/cart-items.html' with display_price=True price=price drawings=drawings %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
