{% extends 'layout/structured.html' %}

{% block title %}{{ drawing.name }}{% endblock %}

{% block head %}
<meta property="og:title" content="{{drawing.name}}" />
<meta property="og:image" content="{{drawing.image_thumb_detail.url}}" />
{% endblock %}

{% block heading %}
<h1 class="text-center bg-white">{{ drawing.name }}</h1>
{% endblock %}

{% block content %}
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 col-lg-8 mb-3 text-center drawing-detail-image">
        <img
          class="img-fluid"
          src="{{drawing.image_thumb_detail.url}}"
          alt="Náhled obrázku {{ drawing.name }}"
        />
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="value-label">Velikost:&nbsp;</span>
              {{ drawing.size.name }}
            </li>
            {% if drawing.is_price_visible %}
              <li class="list-group-item">
                <span class="value-label">Prodejní cena:&nbsp;</span>
                {% include 'partial/price.html' with price=price %}
              </li>
            {% endif %}
            <li class="list-group-item">
              <span class="value-label">Stav:&nbsp;</span>
              {% include 'drawings/status.html' with status=drawing.status status_text=drawing.get_status_display %}
            </li>
          </ul>
        </div>

        <div class="py-3">
          {% if available %}
            {% if in_cart %}
              <p class="text-muted">
                Tento obrázek máte v tuto chvíli v nákupním košíku.
              </p>
              <a
                href="{% url 'cart-remove-drawing' id=drawing.id %}"
                class="btn btn-danger mb-1"
              >
                <span class="fa fa-fw fa-times"></span>
                Odebrat z košíku
              </a>
              <a
                href="{% url 'cart' %}"
                class="btn btn-secondary mb-1"
              >
                <span class="fa fa-fw fa-shopping-cart"></span>
                Přejít do košíku
              </a>
            {% elif drawing.get_price %}
              <a
                href="{% url 'drawings-cart-add' id=drawing.id %}"
                class="btn btn-primary mb-1"
              >
                <span class="fa fa-fw fa-cart-plus"></span>
                Přidat do košíku
              </a>
            {% endif %}
          {% else %}
            <a
              href="{% url 'drawings-redraw' id=drawing.id %}"
              class="btn btn-secondary mb-1"
            >
              <span class="fa fa-fw fa-repeat"></span>
              Chci ho nakreslit znova
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
