{% extends 'layout/structured.html' %}

{% block title %}Obrázky - Terky Akvarelky{% endblock %}

{% block head %}
  <meta property="og:title" content="Obrázky - Terky Akvarelky" />
  <meta property="og:description" content="Přehled v všech obrázků" />
  {% for drawing in drawings %}
    <meta property="og:image" content="{{drawing.image_thumb_list.url}}" />
    <meta property="og:image:alt" content="Náhled {{drawing.get_title}}" />
    <meta property="og:image:width" content="{{drawing.image_thumb_list.width}}" />
    <meta property="og:image:height" content="{{drawing.image_thumb_list.height}}" />
  {% endfor %}
{% endblock %}

{% block heading %}
  <h1 class="text-center bg-white">Obrázky</h1>
{% endblock %}

{% block content %}
  {% include 'drawings/menu.html' %}

  <div class="container py-3">
    {% if drawings %}
      <div class="row drawings">
        {% for drawing in drawings %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            {% include 'drawings/list-item.html' %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning">
        Nastavenému filtru nevyhovují žádné obrázky.
      </div>
    {% endif %}
  </div>

  {% include 'partial/pagination.html' %}

{% endblock %}
